.weather-app {
    border: 1px solid black;
    border-radius: 20px;
    display: block;
    max-width: 900px;
    margin: 50px auto 5px auto;
    padding: 20px 20px 20px 20px;
     background: rgb(205, 216, 222);
    box-shadow: 5px 5px 10px #f9fbfc;
    
  }
  .container-fovorite-city {
    width: 400px;
  }
  .col:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .container-search-city {
    margin: 30px auto;
  }
  .city-now {
    text-align: left;
    line-height: 2.5em;
    text-transform: capitalize;
    border: 1px solid white;
    border-radius: 20px;
    background: white;
    padding: 10px;
    margin: 10px;
  }
  .currently-city {
    display: inline-block;
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    text-transform: capitalize;
  }
  .more-information {
    display: inline-block;
    line-height: 2.5em;
    border: 1px solid white;
    border-radius: 20px;
    background: white;
    padding: 10px;
    margin: 10px;
    vertical-align: center;
  }
  .day-time-temp{
    margin: 0;
  }
.temp-weather{
  font-size: x-large
}

  ul {
    list-style-type: none;
    margin: 10px;
  }
  .information-city {
    text-align: justify;
  }
  .currently-character-1 {
    display: inline-block;
    text-align: left;
    padding:10px;
  }
  .weather-image-2 {
    display: inline-block;
    vertical-align: top;
    
  }
  .next-days-3 {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    text-align: left;
    justify-content: space-around;
  }
  li {
    display: block;
    border: 1px solid white;
    border-radius: 60px;
    padding: 0 7px;
    margin: 5px;
    background: white;
    text-align: center;
    word-spacing: 4px;
  }
  li:hover{
    cursor: pointer;
    border: 1px solid rgba(236, 231, 231, 0.616);
  }
  .col {
    display: inline-block;
    margin-right: 10px;
  }


  .enter-your-city {
    width: 40%;
    margin-right: 10px;
    border-radius: 60px;
    padding: 5px 15px;
    font-size: 18px;
  }
  .button {
    margin: 0 5px;
    border-radius: 60px;
    border: 2px solid rgba(0, 0, 0, 0.616);
    padding: 3px 10px;
    font-size: 18px;
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  }
  .button:hover {
    cursor: pointer;
    border: 2px solid rgba(236, 231, 231, 0.616);
    background: white;
  }
  #temp-celsius:hover,
  #temp-fahrenheit:hover{
    cursor: pointer;
  }

  #temp-celsius.active,
  #temp-fahrenheit.active {
color: blueviolet;
cursor: default;


  }
  #temp-celsius.active:hover,
  #temp-fahrenheit.active:hover {
    text-decoration: none;
  }

.discription{
  display: block;
  margin: 0 auto;
  max-width: 900px;
  text-align: left;
}  
.link-to-github{
  text-decoration: none;
}

